@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-logo {
  animation: App-logo;
}


.App-header {
  background-color: #002959;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sign-out-button {
  background-color: transparent;
  border: 0px solid #000; /* You can adjust the border properties as needed */
  color: #000; /* You can adjust the text color */
  padding: 50px 100px; /* You can adjust the padding as needed */
  font-size: 24px; /* You can adjust the font size */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  color: #fff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-align-container {
  text-align: left;
  padding-left: 100px;
  font-family:'Open Sans', 'Helvetica Neue', sans-serif
}

.horizontal-div div {
  display: inline-block;
}

.spacer {
  flex-grow: 1; /* This will make the spacer div grow and fill the available space */
}

.rounded-rectangle {
  background-color: rgba(52,210,162 ,0.58);/*#34D2A2;*/ /* Background color of the rounded rectangle */
  border: 6px solid #34D2A2; /* You can adjust the border properties as needed */
  padding: 7px; /* Padding around the text */
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px; /* Border radius to create rounded corners */
  width: fit-content; /* Adjust width to fit content */
  height: fit-content; /* Adjust width to fit content */
  font-size: 18; /* You can adjust the font size */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rounded-box {
  margin-top: 80px;
  background-color: rgba(255,255,255 ,1);/*#34D2A2;*/ /* Background color of the rounded rectangle */
  padding: 7px; /* Padding around the text */
  align-items: start;
  padding-top: 20px;
  padding-left:30px;
  padding-right: 20px;
  border-radius: 20px; /* Border radius to create rounded corners */
  width: 80%; /* Adjust width to fit content */
  height: fit-content; /* Adjust width to fit content */
  font-size: 18; /* You can adjust the font size */
  font-family:Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
}





