.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-logo {
  animation: App-logo;
}


.App-header {
  background-color: #002959;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sign-out-button {
  background-color: transparent;
  border: 0px solid #000; /* You can adjust the border properties as needed */
  color: #000; /* You can adjust the text color */
  padding: 50px 100px; /* You can adjust the padding as needed */
  font-size: 24px; /* You can adjust the font size */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  color: #fff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



